    <input v-model="username" type="text" id="username" class="form-control" placeholder="username">
    <input v-model="password" type="password" id="password" class="form-control" placeholder="password">
    <h5>{{error}}</h5>
    <div class='buttonBox'>
        <button class="btn btn-primary" @click="login">Login</button>
        <button class="btn btn-primary" @click="signUp">Sign Up</button>
    </div> 
    
    
    
